html, body {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif !important;
}

.full-width-container {
	width: 100vw !important;
	max-width: 100% !important;
	margin: 0 auto;
}

#headerContent {
	color: white;
	height: 10vh;
	max-height: 10vh;
	font-size: 2em;
	text-align: center;
}

header {
	background-color: #212121;
}

#navContent {
	background-color: red;
	height: 30vh;
	max-height: 30vh;
}

#introContentWrapper {
	background-image: url("assets/background1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	position: relative;
}

#introContent {
	background: none;
	color: black;
	height: 100vh;
	max-height: 100vh;
	font-size: 2.25em;
	text-indent: 2em;
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#titleText {
	font-family: 'Sanchez', serif !important;
}

.sectionHeader {
	text-align: left;
	font-size: 3em;
	font-weight: bolder;
	background-color: rgba(255, 255, 255, 0.5);
}

.noOpacity {
	background: none;
}

#fabricationContentWrapper {
	background-color: #dcdcdc;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 10vh;
}

.fabricationContent {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color: black;
	font-size: 2em;
	margin-top: 1em;
	text-indent: 2em;
}

.fabricationStep {
	text-indent: 2em;
	font-size: 2.5em;
	margin-top: 6vh;
}

.carouselContainer {
	margin: 2vh auto;
}

.imageCarousel {
	margin: 0 auto;
	width: 60%;
}

.imageCarousel img {
	margin: 0 auto;
	max-height: 40vh;
	width: 100%;
}

#backToTop {
	margin: 1vh auto;
	height: 5vh;
	padding: 0;
	width: 10%;
	text-align: center;
}

.buttonWrapper {
	text-align: center;
}

#backToTop div {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#endProductContentWrapper {
	background-image: url("assets/IMG_5240.JPG");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#conclusion {
	background: none;
	color: black;
	height: 50vh;
	max-height: 50vh;
	font-size: 2.25em;
	text-indent: 2em;
	padding-top: 5vh;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 20;
}

footer {
	background-color: #212121;
	height: 20vh;
	max-height: 20vh;
}

body{font-size: 100% !important;}


@media screen and (max-width: 400px) {
	body{font-size: 70% !important;}
}

@media screen and (max-width: 500px) {
	body{font-size: 80% !important;}
}

.videoContainer {
	margin: 0 auto;
	height: 50vh;
	margin-bottom: 10vh;
}

.wrapper {
	background-color: rgba(255, 255, 255, 0.5);
}

#wobblerVideo {
	width: 50%;
	margin: 0 auto;
	display: block;
	height: 100%;
}



