html, body {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif !important;
}

.full-width-container {
	width: 100vw !important;
	max-width: 100% !important;
	margin: 0 auto;
}

#headerContent {
	background-color: #212121;
	color: white;
	height: 10vh;
	max-height: 10vh;
	font-size: 1.5em;
	text-align: center;
}

#navContent {
	background-color: red;
	height: 30vh;
	max-height: 30vh;
}

#introContentWrapper {
	background-image: url("assets/background1.JPG");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	position: relative;
}

#introContent {
	background: none;
	color: black;
	height: 100vh;
	max-height: 100vh;
	font-size: 1.5em;
	text-indent: 2em;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 30vh;
}

#titleText {
	font-family: 'Sanchez', serif !important;
}

.sectionHeader {
	text-align: left;
	font-size: 2em;
	font-weight: bolder;
	background-color: rgba(255, 255, 255, 0.3);
}

#fabricationContentWrapper {
	background-image: url("assets/background2.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	padding-left: 10vw;
	padding-right: 10vw;
}

.fabricationContent {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color: black;
	height: 40vh;
	max-height: 40vh;
	font-size: 1.5em;
	margin-top: 1em;
	text-indent: 2em;
}

.fabricationStep {
	text-indent: 2em;
	font-size: 1.75em;
	margin-top: 5vh;
}

.carouselContainer {
	height: 40vh;
	margin: 0 auto;
}

.crankWheelCarousel {
	margin: 0 auto;
	width: 60%;
}

.crankWheelCarousel img {
	margin: 0 auto;
	max-height: 30vh;
	width: 100%;
}

#backToTop {
	margin: 0 auto;
	height: 5vh;
	padding: 0;
	float: right;
}

#backToTop div {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#endProductContentWrapper {
	background-image: url("assets/background1.JPG");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
}

#conclusion {
	background: none;
	color: black;
	height: 100vh;
	max-height: 100vh;
	font-size: 1.5em;
	text-indent: 2em;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 30vh;
}

footer {
	background-color: #212121;
	height: 20vh;
	max-height: 20vh;
}